<html>

<head>
  <meta charset="utf-8">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Merienda&display=swap|Indie+Flower&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- Favicon -->
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  <!--- Socket.io -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Custom CSS -->
  {{#each css}}
    <link rel="stylesheet" type="text/css" href="/styles/{{this}}"/>
  {{/each}}

  <title>{{title}}</title>
</head>
  <body>
    <div class="jumbotron mb-0">
      <h1 class="text-center">D U C K E R Y</h1>
      <h3 class="text-center" id="devh3">A developer's best friend</h3>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light pt-0 pb-0 pr-0 pl-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {{#if isAuthenticated}}
        <a class="nav-item nav-link pr-5 pl-5" href="/logout">Logout</a>
        <a class="nav-item nav-link pr-5 pl-5" href="/profile">Profile</a>
        <a class="nav-item nav-link pr-5 pl-5" href="/chat">Chat</a>
        {{else}}
        <a class="nav-item nav-link pr-5 pl-5" href="/signup">Sign up</a>
        <a class="nav-item nav-link pr-5 pl-5" href="/login">Login</a>
        {{/if}}
        <a class="nav-item nav-link pr-5 pl-5" href="/duck/create">Create Coding Ducky</a>
        <a class="nav-item nav-link pr-5 pl-5 mini" href="/minigames" tabindex="-1" aria-disabled="true">Mini-games</a>
      </div>
    </div>
  </nav>

  <div class="container-body">
    {{{body}}}
  </div>
  <!-- Footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <h6>About Us</h6>
          <p class="text-justify">Duckery - <i>A developer's best friend </i></br> The rubber duck method refers to the action of talking out a problem to a rubber duck the same way
            you would to a person. Through talking about the problem with your trusty duck, you will actually answer your own question!
            This method is well known throughout the coding community, which is why we have created a platform for anyone to create their own virtual rubber
            duck. We hope you enjoy it, and we ensure this method will provide stress relief and answers to your conflicts, questions, and bugs!</p>
        </div>
        <div class="col-xs-6 col-md-3">
          <ul class="footer-links">
            <h6>Other Links</h6>
            <li><a href="https://www.hotdrop.games/"><i class="fas fa-parachute-box"></i>  Hot Drop</a></li>
            <li><a href="https://ethanbonsignori.github.io/MenYou/"><i class="fab fa-elementor"></i>  MenYou</a></li>
            <li><a href="https://teespring.com/stores/duckery-apparel"><i class="fas fa-tshirt"></i>  Duckery Apparel</a></li>
            <li><a href="https://github.com/EthanBonsignori/duckery"><i class="fab fa-github-square"></i>  GitHub Repo</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
            <a href="#">Coding Chimps</a>
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="Bobby" href="https://github.com/RobWButler"><i class="fas fa-user-tie"></i>  Robert Butler</a></li>
            <li><a class="Tristan" href="https://github.com/TristanHarkleroad"><i class="fas fa-user-tie"></i>  Tristan Harkleroad</a></li>
            <li><a class="Derrick" href="https://github.com/dderrickmatheww"><i class="fas fa-user-tie"></i>  Derrick Mathew</a></li>
            <li><a class="Ethan" href="https://github.com/EthanBonsignori"><i class="fas fa-user-tie"></i>  Ethan Bonsignori</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>

  <!-- jQuery -->
  <script type="text/javascript" src="/js/imports/jquery.min.js"></script>

  <!-- Custom scripts -->
  {{#each js}}
    <script type="text/javascript" src="/js/{{this}}"></script>
  {{/each}}
</html>
